<div class="container">

    <form  action="./animalByName" method="POST">
        <p>You can search for an animal by name:</p>
        <input type="text" name="name"><br>
        <button type="submit">Submit</button>
    </form>

    <form  action="./animalByCountryAndPrice" method="POST">
        <p>You can enter a country and retrieve all animals up to the maximum price:</p>
        <p>Country of the animal:</p>
        <input type="text" name="country"><br>
        <p>Maximum price of the animal:</p>
        <input type="text" name="maximumPrice"><br>
        <button type="submit">Submit</button>
    </form>

    <form  action="./animalBy3CountryAndPrice" method="POST">
        <p>You can enter 3 countries and retrieve all animals up to the maximum price:</p>
        
        <p>Country of the animal:</p>
        <input type="text" name="country_1">
        <input type="text" name="country_2">
        <input type="text" name="country_3"><br>

        <p>Maximum price of the animal:</p>
        <input type="text" name="maxiPrice_2"><br>
        <button type="submit">Submit</button>
    </form>



</div>